importFrom(tidyr,"%>%")
importFrom("stats", "glm")

# The following is here to make devtools::check() happy
# as CRAN checks on some systems are complaining:
#
# Version: 0.1.0
# Check: dependencies in R code
# Result: NOTE
#    Namespaces in Imports field not imported from:
#     'CodeDepends' 'DT' 'PKI' 'shinycssloaders' 'tictoc'
#     All declared Imports should be used.
#
# All these package namespaces are used in inst/applications
# but this seems to be missed by devtools::check()
# So here goes:

importFrom(DT, datatable)
importFrom(openssl, sha256)
importFrom(shinycssloaders, withSpinner)
importFrom(tictoc, tic)
importFrom(rio, import)
importFrom(zip, zip)
importFrom(rlang, syms)

# Normal export stuff follows

export(alex_clean)
export(alex_dataframe_descriptive_table)
export(alex_hello)
export(alex_na_plot)